
html,body{
  background-color: black;
  color: white;
}

.header-top{
  display: flex; 
  justify-content: flex-end;
}

h1{
  padding-right: 50%;

}

h2{
  color: black;
}

 .ul-header li{
  display: inline-block;
  padding:15px;
 }

  li a{
  color: white;
  text-decoration: none;
 }


 main{
  background: #ffd4db;
  width: 100%;
 
  
 }

 .footer{
  color: white;
  background: black;
  padding: 1%;
 }

 .ul-footer li{
  display: inline-block;
  padding: 15px;
 }


 
 


