
html,body{
  background-color: black;
  color: white;
}

.header-top{
  display: flex; 
  justify-content: flex-end;
}

h1{
  padding-right: 50%;

}

h2{
  color: black;
}

 .ul-header li{
  display: inline-block;
  padding:15px;
 }

  li a{
  color: white;
  text-decoration: none;
 }


 main{
  background: #ffd4db;
  width: 100%;
 }

 .div-main-cima{
     text-align: center;
     
 }
  
 .div-main-meio {
  color: black;
  background: white;
  width: 100%;
  display: flex;
 }

 .div-main-meio , .article {
  display: inline-block;
  padding: 15px;
  ;
 } 

 h3{
  text-align: center;
 }

 .footer{
  color: white;
  background: black;

 }

 .ul-footer li{
  display: inline-block;
  padding: 15px;
  
 }

.icon-linkedin , .icon-github{
  font-size: 30px;
}
 
 


